<form action="/" method="post">
    <input type="text" name="city">
    {{!-- req.body.whateverYourNameIs --}}
    <input type="submit" value="submit">
</form>

{{#each data}}
<p>{{this}}</p>
{{/each}}
